<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	namespace：名称空间 
	id：唯一标识
	resultType：返回值类型
	#{id}：从传递过来的参数中取出id值
	-->
<mapper namespace="com.yws.dao.EmployeeMapper">
	
	<!-- <cache eviction="FIFO" readOnly="false" flushInterval="60000" size="1024"></cache> -->
	
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
	
	<!-- 
		eviction：缓存的回收策略
			LRU - 最近最少使用的：移除最长时间不被使用的对象。
			FIFO - 先进先出：按对象进入缓存的顺序来移除它们。
			SOFT - 软引用：移除基于垃圾回收器状态和软引用规则的对象。
			WEAK - 弱引用：更积极地移除基于垃圾收集器状态和弱引用规则的对象。
			默认的是LRU。
		flushInterval：缓存刷新间隔
			缓存多长时间清一次，默认不清空，设置一个毫秒值
		readOnly：是否只读
			true：只读；mybatis认为所有从缓存中获取数据的操作都是只读操作，不会修改数据。
					 mybatis为了加快获取速度，直接就会将数据在缓存中的引用交给用户。不安全，速度快
			false：非只读；mybatis觉得获取的数据可能会被修改。
					 mybatis会利用序列化&反序列化技术克隆一份新的给你。安全，速度慢
		size：缓存放多少元素
		type：指定自定义缓存的全类名
			实现Cache接口即可；			 
	
	 -->

	<select id="getEmpById" resultType="com.yws.bean.Employee" databaseId="mysql" useCache="true">
		select * from tbl_employee where id = #{id}
	</select>
	<select id="getEmpById" resultType="com.yws.bean.Employee" databaseId="oracle">
		select * from tbl_employee where id = #{id}
	</select>
	
	<!-- parameterType：参数类型，可以省略
		获取自增主键的值：
			mybatis支持自增主键，自增主键的获取，mybatis也是利用statement.getGeneratedKey()；
			useGenerateddKeys = "true"：使用自增主键获取主键值策略
			keyProperty：指定对应的主键属性，也就是mybatis获取到主键值以后，将这个值封装给javaBean的哪个属性
	 -->
	<insert id="addEmp" useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
		insert into tbl_employee (last_name, email, gender)
			values (#{lastName}, #{email}, #{gender})
	</insert>
	
	<!-- parameterType：参数类型，可以省略
		keyProperty：查出的主键值封装给javaBean的哪个属性
		order="BEFORE"：当前sql在插入sql之前运行
		       AFTER：当前sql在插入sql之后运行
		resultType：查出的数据的返回值类型
		BEFORE运行顺序：
			先运行selectKey查询id的sql，查出id值封装给javaBean的id属性
			在运行插入的sql，就可以去除id属性对应的值
		AFTER运行顺序：
			先运行插入的sql（从序列中去除新值作为id），
			再运行selectKey查询id的sql
	 -->
	<insert id="addEmp" databaseId="oracle">
		<!-- BEFORE -->	
 		<selectKey keyProperty="id" order="BEFORE" resultType="Integer">
			select employee_seq.nextval from dual
		</selectKey>
		insert into tbl_employee (id, last_name, email, gender)
			values (#{id}, #{lastName}, #{email}, #{gender})
			
<!-- AFTER： 	取的是最新的序号，可能刚好别人也用了，会有问题	（了解）
		<selectKey keyProperty="id" order="AFTER" resultType="Integer">
			select employee_seq.currval from dual
		</selectKey>
		insert into tbl_employee (id, last_name, email, gender)
			values (employee_seq.nextval, #{lastName}, #{email}, #{gender}) -->
	</insert>
	
	<update id="updateEmp">
		update tbl_employee 
		set 
			last_name = #{lastName},
			email =  #{email},
			gender = #{gender}
		where id = #{id}	
	</update>
	
	<delete id="deleteEmpById">
		delete from tbl_employee where id = #{id}
	</delete>
	
	
	<select id="getEmpByIdAndLastName" resultType="com.yws.bean.Employee">
		select * from 
			tbl_employee
		<!-- where id = #{param1} and last_name = #{param2} -->
		<!-- where id = #{0} and last_name = #{1} -->
		where id = #{id} and last_name = #{lastName}
	</select>
	
	
	<select id="getEmpsByLastNameLike" resultType="com.yws.bean.Employee">
		select * from 
			tbl_employee
		where last_name like #{lastName}
	</select>
	
	
	<select id="getEmpBIdReturnMap" resultType="map">
		select * from
			tbl_employee
		where id = #{id}
	</select>
	
	<select id="getEmpByLastNameLikeReturnMap" resultType="com.yws.bean.Employee">
		select * from 
			tbl_employee
		where last_name like #{lastName}	 
	</select>
	
	<select id="getEmps" resultType="com.yws.bean.Employee">
		select * from tbl_employee
	</select>
</mapper>